# Introduction to the Python Language

The following examples will familiarize you with the Python programming language.  
The code is provided in the **input cells** (notice the labels In [ ]:).  
To run the code in a cell, select it (by putting the cursor in the cell) and then click the Run button.  
(it looks like the Play in a Music Player interface). Alternatively, press Shift+Return in your keyboard.  
You'll see the result in the Out [ ]: cells. You can rerun the code in a cell at any time.  
Feel free to change the code to experiment.

## Table of Contents

1. [Python as a Calculator](#sec1)
2. [Strings and Concatenation](#sec2)
3. [Variables](#sec3)
4. [Built-in Functions: `max`, `min`, `type`, `len`](#sec4)
5. [More built-in functions: Converting between types with `str`, `int`, and `float`](#sec5)
6. [Dealing with `float` values](#sec6)
7. [The useful `print` function](#sec7)
8. [Building interactive programs with input](#sec8)
9. [Error Types and Messages](#sec9)
10. [Test your knowledge](#sec10)

<a id="sec1"></a>

## 1. Simple Expressions: Python as a Calculator

The Python interactive interpreter can perform calculations of different expressions just like a calculator.   
**Try to guess the result of each input, and then run the code to see the result.**  
The phrases precedeed by # are comments, they are ignored during the code execution.

In [ ]:
3 + 4 * 5 # precedence

In [ ]:
(3 + 4) * 5 # override precedence

In [ ]:
3 + 4 * 5 # spaces don't matter

In [ ]:
17/3 # floating point (decimal) division

In [ ]:
17//3 # integer division

In [ ]:
17 % 3 # integer remainder (% in this case is known as the modulo operator)

In [ ]:
17.0//3 # result of // is a float if either operand is a float.

In [ ]:
17//2.5

In [ ]:
17%2.5

Try out an expression of your own in the cell below. For example, an expression that has more than one operator, such as `2 * (3 + 4)`.

In [ ]:
5 + (12 - 7) * 4

### Summary  
The results of an operator depend on the types of the operand. For example: `7//3` returns `2` and `7.0//3` returns `2.0`; neither returns `2.3333`, but that is the result of `7/3`. Make sure to understand what is the expected value type for a simple expression.

<a id="sec2"></a>

## 2. Strings and Concatenation

A string is a sequence of characters that we write between a pair of double quotes or a pair of single quotes. Run every cell to see the result.

In [ ]:
"CS 111" # the string is within double quotes

In [ ]:
'rocks!' # we can also use single quotes, it is still a string

In [ ]:
"CS 111" + 'rocks!' # example of concatenation

The above was an example of *string concatenation*, chaining two or more strings in one.  
**How can you fix the issue of the missing space between 111 and rocks?**   
There are at least three different ways to do that.   
Try them out in the cells below and then check them against the given solution.

**Solutions:**

1. Add space at the end of first string: `"CS 111 " + 'rocks!'`
2. Add space at the start of the second string: `"CS 111" + ' rocks!'`
3. Add space as a string on its own: `"CS 111" + " " + 'rocks!'`

Guess what will happen below:

In [ ]:
"111" + 10

Don't be scared when you see error messages like this. Instead, read the message carefully to understand what happened. This is a `TypeError`, which happens when an operator is given operand values with types (e.g. `int`, `float`, `str`) that are not allowed.

How can you fix it?

In [ ]:
# Way #1 to fix is to make "111" a number: 111 + 10 => 121
# Way #2 to fix is to make 10 a string: "111" + "10" => "11110:

**Repeated Concatenation**: Guess the result!

In [ ]:
'123' * 4

### Summary  
The operators `+` and `*` are the only ones you can use with values of type string. Both these operators generate concatenated strings. Be careful when using the `*` operator. One of the operands needs to be an integer value. Why? See what happens when you multiply two string values.

In [ ]:
'cs' * '111'

<a id='sec3'><a>

## 3. Variables

A variable can be conceptualized as a box containing a value that a programmer names or changes with an assignment statement, using =.  
Variables can name any value.  
**Important**: The symbol = is pronounced “gets” not “equals”!

In [ ]:
fav = 17 # an assignment statement has no output

In [ ]:
fav # this is called "variable reference" and denotes the current value of the variable

In [ ]:
fav + fav # this is a simple expression that uses the current value of the variable

In [ ]:
lucky = 8

In [ ]:
fav + lucky

In [ ]:
aSum = fav + lucky # define a new variable and assign to it the value returned by the expression on the right

In [ ]:
aSum * aSum

**Let us change the value stored in the variable named `fav`.**

In [ ]:
fav = 12

Will this change affect the variable *aSum*?  
How would you check that?

In [ ]:
# No, assigning to fav does *not* change the values of previous assignments, other than to fav
# We can check by evaluating aSum:
aSum

In [ ]:
fav = fav - lucky # here is yet another change for the value of the variable
# Note that the fav on the right is the current value of fav (which is 12),
# but we're going to change the value of fav to be 12 - 8, which is 4

**What is the current value of `fav`? How would you check that?**

In [ ]:
fav

**An example of doing string concatenation with variables.**

In [ ]:
name = 'CS111'
name * fav # notice that we can have multiple lines of code in a single cell.

<a id="sec4"></a>

## 4. Built-in Functions: `max`, `min`, `type`, `len`

**Finding the maximum or minimum of a series of two or more numbers with `max` and `min`.**  
The inputs to a function are called arguments, they are separated by commas.  
Notice that a function has parentheses surrounding the arguments.

In [ ]:
min(7, 3)

In [ ]:
max(7, 3)

In [ ]:
min(7, 3, 2, 9) # notice how we can have as many arguments we want.

In [ ]:
smallest = min(-5, 2) # variable smallest gets the output from the function, in this case, -5.

In [ ]:
smallest # check the value stored in smallest

In [ ]:
largest = max(-3, -10) # variable largest gets the value -3, which is the output of 
                       # the function call with the arguments -3 and -10

In [ ]:
largest #check the value stored in largest

In [ ]:
max(smallest, largest, -1) # we can mix variables and values as function arguments

**Finding the type of a value with the `type` function.**

In [ ]:
type(111) # this is an integer value

In [ ]:
type(4.0) # this is a decimal value, also known as a floating point number (because the decimal point can "float")

In [ ]:
type("CS111") # this is a string value

In [ ]:
type(max(7.3, 4)) # notice how we can nest function calls within each-other

In [ ]:
x = "CS111 " + "rocks!"
type(x) # we can also ask for the type of variables, the same way as for values.

In [ ]:
# Hey, what's the type of a type like int, float, str?
type(int)

In [ ]:
# And what's the type of type? 
type(type)

**The function `len` that returns the number of characters in a string.**

In [ ]:
len('CS111')

In [ ]:
len('CS111 rocks!')  #try to guess before looking it up

In [ ]:
len('com' + 'puter') # the expression will be evaluated first, and then the result will be an argument for the function

In [ ]:
course = 'computer programming'
len(course)

In [ ]:
len(111)

<a id="sec5"></a>

## 5. More built-in functions: Converting between types with `str`, `int`, and `float`.

#### The function `str`

In [ ]:
str(17) # convert an integer to string

In [ ]:
str(4.1) # convert a float to string

In [ ]:
'CS' + 111 # this generates an error, why?

In [ ]:
'CS' + str(111) # this gives the desired output, why?

In [ ]:
len(str(111)) # does len(111) work?

In [ ]:
lenOfName = len('CS' + str(max(110, 111))) # what is the result of this assignment?

In [ ]:
str(lenOfName) # what is the output?

In [ ]:
str("CS11") # what is the output?

In [ ]:
len(str(min(17, 3))) # notice the nesting of many function calls. Which is the order of execution?

In [ ]:
str((3 + 4) * len('C' + 'S' + str(max(110, 111)))) # See slide 20 for how this is evaluated

#### The function `int`

In [ ]:
int('42') # convert a string value to integer

In [ ]:
int('-273') # it works for negative numbers too

In [ ]:
123 + '42' # will this work?

#### How to fix the above error by using the `int` function?

In [ ]:
123 + int('42')

In [ ]:
int('3.141') # will this work?

In [ ]:
int('five') # will this work?

In [ ]:
int(98.6) # convert from float to integer

In [ ]:
int(-2.978) # what will this output?

In [ ]:
int(422) # what will this output?

#### The function `float`

In [ ]:
float('3.141') # convert a string value into a float value

In [ ]:
float('-273.15') # it works for negative values too

In [ ]:
float('3') # can you guess the output, why?

In [ ]:
float('3.1.4') # what is the output for this?

In [ ]:
float('pi') # what is the output for this?

In [ ]:
float(42)   # convert from an integer to float

<a id="sec6"></a>

## 6. Dealing with `float` values

**The unexpected behavior of float values.**

In [ ]:
2.1 - 2.0 # what is the output value?

In [ ]:
2.2 - 2.0

In [ ]:
2.3 - 2.0

In [ ]:
1.3 - 1.0

In [ ]:
100.3 - 100.0

In [ ]:
10/3

In [ ]:
1.414*(3.14159/1.414)

### Fixing the behavior with `round`

In [ ]:
round(3.14156)  # round the value to the closest integer

In [ ]:
round(98.6) # round to the closest integer

The function *round* can be used with one or two arguments. We just saw that use with one argument.  
Now let's check out the output when there are two arguments.  
**Try to guess what the second argument is doing.**

In [ ]:
round(3.14156, 2)

In [ ]:
round(3.14156, 1)

In [ ]:
round(3.14156, 0)

In [ ]:
# round will round up if next digit is 5 or more
round(3.14156, 4)

In [ ]:
round(2.3 - 2.0, 1) # what will the result be this time?

<a id="sec7"></a>

## 7. The useful `print` function
This function will **display** characters on the screen.  
Notice how we will not see the output fields labeled with `Out[]` when we use `print`.

In [ ]:
print(7)

In [ ]:
print('CS111')

In [ ]:
print('CS' + str(111)) # it prints the result of the expression

In [ ]:
print(len(str('CS111')) * min(17,3)) # notice the nested functions. What will the displayed?

In [ ]:
college = 'Wellesley'
print('I go to ' + college) # expressions can combine values and variables

In [ ]:
dollars = 10
print('The movie costs $' + str(dollars) + '.') # concatenation of string values

 When `print` is called with multiple arguments, it prints them all, separated by spaces.

In [ ]:
print(1 + 2, 6 * 7, 'CS' + '111')

In [ ]:
print(1,'+',2,'=',1+2)

 The default space printed between multiple arguments to `print` can be changed by the **keyword argument** `sep=`*string*

In [ ]:
print(1,'+',2,'=',1+2, sep='||') # separate printed values by two vertical bars

In [ ]:
print(1,'+',2,'=',1+2, sep=', ') # separate printed values by a comma and space

In [ ]:
print(1,'+',2,'=',1+2, sep='') # separate printed values by no characters (the empty string)

When `\n` appears in a string, it represents a **single character** call the **newline character**. When printed, it causes the display to go to the next line.

In [ ]:
print('a\nbc\ndef')

In [ ]:
len('a\nbc\ndef') # \n counts as a single character

### Expression values vs. `print`
In the lines below, notice what happens when you execute the cell. Notice that sometimes you see an output cell, and sometimes you don't.

In [ ]:
max(10, 20)

In [ ]:
print(max(10, 20))

In [ ]:
10 + 20

In [ ]:
print (10 + 20)

In [ ]:
message = "Welcome to CS 111"

**Question: why don't we see anything after executing the above cell?**

In [ ]:
message

In [ ]:
print(message)

**Question:** Can you notice the difference between the two lines above? Why do you think they are different?

It turns out that calling `print` returns the special `None` value. Python uses a `None` return value to indicate the function was called for its **effect** (the action it performs) rather than its **value**, so calling `print` acts like a **statement** rather than an **expression**. 

To emphasize that calls to `print` act like statements rather than expressions, Thonny hides the `None` value returned by `print` and only outputs the printed expression.  But there are situations in which the hidden `None` value can be exposed, like the following:

In [ ]:
str(print(print('CS'), print(111))) # Explain why each result line is the way it is!

<a id="sec8"></a>
## 8. Building interactive programs with `input`

An alternative to "hard-coding" values in a program is to create an interactive program that asks the user for input. The built-in function `input` does exactly that.

In [ ]:
input('Enter your name: ') # waits for user to provide an input value and then outputs the entry

In [ ]:
age = input('Enter your age: ')  # we can store the entered input into a variable

In [ ]:
age # what value is stored and of what type?

In [ ]:
age + 4 # will this work?

In [ ]:
age = float(input('Enter your age: ')) # perform conversion before storing the value

In [ ]:
age + 4 # will this work now?

<a id="sec9"></a>
## 9. Error Types and Messages

Try to guess what error type and message will appear in the examples below:

In [ ]:
"CS" + 111

In [ ]:
2017 + "'s record"

In [ ]:
year = 2017
len(year)

In [ ]:
month + 1

In [ ]:
float("e")

In [ ]:
int('2.7182')

In [ ]:
first-name = "Harry" # variable names can't include hyphens, which look to Python like a minus operator
                     # use underscores instead, as in first_name

In [ ]:
1 + age = 17 # Can't assign to the result of an addition operator.

In [ ]:
1 + (age = 17) # Can't add a number and an assignment statement, 
               # because an assignment statement doesn't denote a values

<a id="sec10"></a>
## 10. Test your knowledge

Use this section to try to answer the questions in the final slide of Lecture 2.

To create new cells, press the + button in the menu bar.